<% if post.favorited_by?(current_user) %>
  <%= link_to post_favorites_path(post), method: :delete do %>
    <div class="favo">
      <i class="bi bi-heart-fill" aria-hidden="true" style="color: red;"></i>
      <%= post.favorites.count %>
    </div>
  <% end %>
<% else %>
  <%= link_to post_favorites_path(post), method: :post do %>
    <div class="favo">
      <i class="bi bi-heart" aria-hidden="true"></i>
      <%= post.favorites.count %>
    </div>
  <% end %>
<% end %>
