// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.fixed_btn {
  position: fixed;
  bottom: 80px; 
  right: 100px;
  padding: 10px 40px;
}

.post {
  text-decoration: none;
  color: black;
}

.post_image {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
